openapi: 3.1.0
info:
  title: Vancam Camera API
  version: "1.0.0"
  description: >
    Discover nearby traffic cameras and fetch live camera images.
    Backed by a PostGIS spatial database (1M+ live cameras worldwide).
    Every request requires an `x-api-key` header (see security scheme below).

servers:
  - url: https://api.vancam.ai
    description: Vancam API (production)

security:
  - ApiKeyAuth: []

paths:
  /cameras/cameras:
    get:
      operationId: findCameras
      summary: Search for traffic cameras using radius, route, bounds, or nearest mode.
      description: |
        This single endpoint supports multiple search types depending on the query parameters:

        **Radius search**
        - Use when user asks for cameras "within X km"
        - Parameters: lat, lon, radius[, limit]

        **Nearest cameras**
        - Use when user asks for "nearest cameras"
        - Parameters: lat, lon, nearest=true[, limit]

        **Route search**
        - Use when user asks for cameras "along a route from A to B"
        - Parameters: origin_lat, origin_lon, dest_lat, dest_lon, buffer[, limit]

        **Bounds search**
        - Use when user asks for cameras "within map bounds"
        - Parameters: min_lat, min_lon, max_lat, max_lon[, limit]

        `limit` applies to all four search types (default varies by tool, max 100).
      parameters:
        - in: query
          name: lat
          schema:
            type: number
          description: Latitude for radius or nearest search.
        - in: query
          name: lon
          schema:
            type: number
          description: Longitude for radius or nearest search.
        - in: query
          name: radius
          schema:
            type: number
          description: Radius in kilometers for radius search.
        - in: query
          name: origin_lat
          schema:
            type: number
          description: Origin latitude for route search.
        - in: query
          name: origin_lon
          schema:
            type: number
          description: Origin longitude for route search.
        - in: query
          name: dest_lat
          schema:
            type: number
          description: Destination latitude for route search.
        - in: query
          name: dest_lon
          schema:
            type: number
          description: Destination longitude for route search.
        - in: query
          name: buffer
          schema:
            type: number
          description: Buffer distance in meters for route search.
        - in: query
          name: min_lat
          schema:
            type: number
          description: Southwest latitude for bounds search.
        - in: query
          name: min_lon
          schema:
            type: number
          description: Southwest longitude for bounds search.
        - in: query
          name: max_lat
          schema:
            type: number
          description: Northeast latitude for bounds search.
        - in: query
          name: max_lon
          schema:
            type: number
          description: Northeast longitude for bounds search.
        - in: query
          name: nearest
          schema:
            type: boolean
          description: If true, performs a nearest-cameras search instead of radius search (requires lat/lon).
        - in: query
          name: limit
          schema:
            type: integer
            maximum: 100
          description: Max number of cameras to return. Applies to all search modes (max 100).
      x-examples:
        radius:
          summary: Cameras within 1 km
          value: /cameras/cameras?lat=49.28&lon=-123.12&radius=1
        nearest:
          summary: 5 nearest cameras
          value: /cameras/cameras?lat=49.28&lon=-123.12&nearest=true&limit=5
        route:
          summary: Cameras along route
          value: /cameras/cameras?origin_lat=49.28&origin_lon=-123.12&dest_lat=49.30&dest_lon=-123.09&buffer=100
        bounds:
          summary: Cameras in map bounds
          value: /cameras/cameras?min_lat=49.2&min_lon=-123.2&max_lat=49.3&max_lon=-123.0
      responses:
        "200":
          description: Cameras found
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: Radius search result
                    properties:
                      type:
                        type: string
                        example: "radius_search"
                      count:
                        type: integer
                        description: Number of cameras returned
                      radius_km:
                        type: number
                        description: Radius in kilometers used for search
                      cameras:
                        type: array
                        items:
                          $ref: "#/components/schemas/Camera"
                  - type: object
                    description: Route search result
                    properties:
                      type:
                        type: string
                        example: "route_search"
                      count:
                        type: integer
                        description: Number of cameras returned
                      buffer_meters:
                        type: number
                        description: Buffer distance in meters used for route search
                      cameras:
                        type: array
                        items:
                          $ref: "#/components/schemas/Camera"
                  - type: object
                    description: Bounds search result
                    properties:
                      type:
                        type: string
                        example: "bounds_search"
                      count:
                        type: integer
                        description: Number of cameras returned
                      cameras:
                        type: array
                        items:
                          $ref: "#/components/schemas/Camera"
                  - type: object
                    description: Nearest search result
                    properties:
                      type:
                        type: string
                        example: "nearest_search"
                      count:
                        type: integer
                        description: Number of cameras returned
                      cameras:
                        type: array
                        items:
                          $ref: "#/components/schemas/Camera"

  /api:
    get:
      operationId: cameraImage
      summary: Get a camera image by asset_id
      description: Fetch the latest live frame from a camera given its asset_id.
      parameters:
        - in: query
          name: asset_id
          required: true
          schema:
            type: string
          description: Asset ID of the camera
      x-examples:
        get_image:
          summary: Get camera image by asset_id
          value: /api?asset_id=30145
      responses:
        "200":
          description: Binary camera image (e.g., JPEG)
          content:
            image/jpeg:
              schema:
                type: string
                format: binary

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        Required on every request. A shared, rate-limited anonymous key works
        out of the box (1 req/s, 500/month, pooled); get a free personal key
        for higher limits from your Vancam.ai account page.
  schemas:
    Camera:
      type: object
      properties:
        asset_id:
          type: string
          description: Vancam camera asset ID
        latitude:
          type: number
        longitude:
          type: number
        street_address:
          type: string
        direction:
          type: string
        camera_class:
          type: string
          enum: ["open", "premium"]
          description: "open cameras have a live image_url; premium cameras do not."
        level1:
          type: string
          description: Country
        level2:
          type: string
          description: State/province
        level3:
          type: string
          description: City
        distance_meters:
          type: number
          description: Present on radius/nearest search results.
        route_fraction:
          type: number
          description: Present on route search results, 0 (origin) to 1 (destination).
        image_url:
          type: string
          description: Primary live frame URL (requires x-api-key header to fetch).
        image_urls:
          type: object
          properties:
            vancam_api:
              type: string
            vancam:
              type: string
